<!--<ion-header>-->
<!--<ion-toolbar class="bg_theme initiative">-->
<!--<ion-title>Initiative Description</ion-title>-->
<!--<ion-buttons slot="end">-->
<!--<ion-icon name="close-outline" (click)="dismiss()"></ion-icon>-->
<!--</ion-buttons>-->
<!--</ion-toolbar>-->
<!--</ion-header>-->
<ion-header class="ion-no-border font">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="dismiss('dismissed')">
      <ion-button>
        <ion-icon name="chevron-back-outline" size="md" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">

      <ion-button (click)="goLogin()">
        <ion-icon  src="../../assets/icon/initiative/Logout.svg" color="light" size="small"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center text_upper font" *ngIf="data">Add Initiative</ion-title>
    <ion-title class="ion-text-center text_upper font" *ngIf="data1">Edit Initiative</ion-title>
    <ion-title class="ion-text-center text_upper font" *ngIf="iniativedata">Edit Initiative</ion-title>
  </ion-toolbar>
  <ion-row class="header-bottom">
    <img src="../../assets/profile.svg">
    <h6 class="text_upper font">Human Resource</h6>
  </ion-row>
</ion-header>


<ion-content class="ion-padding">
  <ion-item class="bg_input marg_bot_10 font" lines="none">
    <ion-label position="stacked">ID</ion-label>
    <ion-input  inputmode="text"></ion-input>
  </ion-item>
  <ion-item class="bg_input marg_bot_10 font" lines="none">
    <ion-label position="stacked">Name</ion-label>
    <ion-input  inputmode="text"></ion-input>
  </ion-item>
  <ion-item lines="none" class="font">
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>


  <ion-item lines="none" class="font">
    <ion-label  position="stacked">Owner</ion-label>
    <ion-input>
      <ion-buttons slot="end">
        <span ><ion-icon class="down-outline" name="caret-down-outline"></ion-icon></span>
      </ion-buttons>

    </ion-input>


  </ion-item>



  <ion-item lines="none" class="font">
    <ion-label position="stacked">Planned Start Date /End Date</ion-label>
    <ion-input type="date"></ion-input>
  </ion-item>



  <ion-item lines="none" class="font">
    <ion-label position="stacked"> Actual Start Date /End Date</ion-label>
    <ion-input type="date"></ion-input>
  </ion-item>




  <ion-list>
    <ion-radio-group>
      <ion-label position="stacked" class="font"> status</ion-label>
      <ion-row class="font">
        <ion-col size="4" >
          <ion-item lines="none">
            <!--<ion-label>Biff</ion-label>-->
            <ion-radio slot="start" value="biff" class="color_change1">Complete</ion-radio>
          </ion-item>
        </ion-col>

        <ion-col size="4" >
          <ion-item lines="none">
            <!--<ion-label>Biff</ion-label>-->
            <ion-radio slot="start" value="tecg" class="color_change"></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col size="4" >
          <ion-item lines="none">
            <!--<ion-label>Biff</ion-label>-->
            <ion-radio slot="start" value="grif" class="color_change2"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>
  </ion-list>

  <ion-item lines="none" class="font">
    <ion-label  position="stacked">Status</ion-label>
    <ion-input>
      <ion-buttons slot="end">
        <span ><ion-icon class="down-outline" name="caret-down-outline"></ion-icon></span>
      </ion-buttons>

    </ion-input>


  </ion-item>

  <ion-item class="bg_input marg_bot_10" lines="none" class="font">
    <ion-label position="stacked">Progerss %</ion-label>
    <ion-input  inputmode="text"></ion-input>
  </ion-item>


  <ion-item lines="none">
    <ion-label  position="stacked">Data fields </ion-label>

  </ion-item>

  <ion-row>

    <ion-col size="4" class="font">
      <ion-item lines="none">
        <ion-label>Actual</ion-label>
        <ion-checkbox ></ion-checkbox>
      </ion-item>
    </ion-col>

    <ion-col size="4" class="font">
      <ion-item lines="none">
        <ion-label>Target</ion-label>
        <ion-checkbox ></ion-checkbox>
      </ion-item>
    </ion-col>

    <ion-col size="4" class="font">
      <ion-item lines="none">
        <ion-label>Budget</ion-label>
        <ion-checkbox ></ion-checkbox>
      </ion-item>
    </ion-col>

    <ion-col size="4" class="font">
      <ion-item lines="none">
        <ion-label>Forecast</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    </ion-col>
    <ion-col size="4" class="font">
      <ion-item lines="none">
        <ion-label>Amount</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    </ion-col>
    <ion-col size="4" class="font">
      <ion-item lines="none">
        <ion-label>Budget</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    </ion-col>
    <ion-col size="4" class="font">
      <ion-item lines="none">
        <ion-label>Utillized</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    </ion-col>
    <ion-col size="4" class="font">
      <ion-item lines="none">
        <ion-label>Balance</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>

    <ion-col>
      <ion-item lines="none" class="ion-text-right font">
        <ion-button color="light">cancel</ion-button>
        <ion-button color="dark">Save</ion-button>
      </ion-item>

    </ion-col>
  </ion-row>


</ion-content>
