ion-header{
  background-color: #1e252d;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  margin-bottom: 5em;
  ion-toolbar{
    --background: #1e252d;
    color: #fff;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    ion-title{
      font-size: 16px;
    }
  }

  ion-buttons{
    margin-right: 15px;
  }
}
// ion-header{
//   .heading_top {
//     padding-top: 15px !important;
//   }
// }

// common
.text_upper{
  text-transform: uppercase;
}

.plus-icon{
  font-size: 13px;
}


.header-bottom{
  height: 38px;
  img{
    border-radius: 100px;
    border: 2px solid #fff;
    /* padding: 4px; */
    box-shadow: 0px 0px 8px 0px 0px 0px 8px 0px rgba(0, 0, 0, 0.54);
    display: block;
    width: 100;
    margin: auto;
  }
  h6{
    display: block;
    text-align: center;
    width: 100%;
    margin: 7px 0 0;
    font-size: 15px;
    font-weight: 600;
  }
}

.bg_theme{
    --background: #000;
  }
  ion-header{
    .initiative{
      color: #fff;
      //border-radius: 20px 20px 0 0;
  
  
    }
  }
  
  
  .top-curve{
    background: #ffff;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    box-shadow: 0px -9px 8px -2px #f1f1f1;
    margin-top: 22px;
    min-height: 100%;
}
  
  ion-content{
      h3{
          margin-bottom: 0;
      }
    ion-item {
      --padding-start: 0;
      --inner-padding-end: 0;
  
      ion-input {
        border: 1px solid #9e9e9e;
        //border-radius: 100px;
        padding: 0px 15px;
        border-radius: 4px;
      }
  
      ion-label {
        margin-bottom: 15px;
        font-size: 4vw;
      }
    }

    // status
    .status_input-grp{
      ion-label{
        display: block;
      }
      ion-select{
        min-width: 100%;
        width: 100%;
        border: 1px solid #9e9e9e;
        border-radius: 4px;
        padding-left: 10px;
        padding-right: 7px;
      }
    }

    .datafield_label{
      width: 100%;
      margin-top: 11px;
    }
  }
  ion-content{
    ion-textarea{
      border: 1px solid #9e9e9e;
      //border-radius: 100px;
    //   padding: 35px 0px !important;
    border-radius: 4px;
  
    }
  }
ion-content {
  .text_Name {
    padding: 7px !important;
  }
}
  //ion-content{
  //  ion-select{
  //    border: 1px solid #9e9e9e;
  //    //border-radius: 100px;
  //    padding: 0px 15px !important;
  //
  //  }
  //}




.down-outline{
  padding-left: 326px;
}
.color_change{
  --color-checked:#ffc107 !important;
}
.color_change1{
  --color-checked:#28a745 !important;
}
.color_change2{
  --color-checked:#dc3545 !important;
}
.checkbox_text{
  margin-left: 10px;

}
// .img_top{
//   margin-top: 23px !important;

// }
