ion-header{
    background-color: #1e252d;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    margin-bottom: 5em;
    ion-toolbar{
        --background: #1e252d;
        color: #fff;
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        ion-title{
            font-size: 16px;
        }
    }

    ion-buttons{
        margin-right: 15px;
    }
}

// common
.text_upper{
    text-transform: uppercase;
}
.display-flex{
    display: flex;
}
.align-item-center{
    align-items: center;
}
.plus-icon{
    font-size: 13px;
}
.color-dark{
    color: #000;
}
.ion-page{
    background: #f9f9f9;
}

// header bottom
.header-bottom{
    height: 38px;
    img{
        border-radius: 100px;
        border: 2px solid #fff;
        /* padding: 4px; */
        box-shadow: 0px 0px 8px 0px 0px 0px 8px 0px rgba(0, 0, 0, 0.54);
        display: block;
        width: 100;
        margin: auto;
    }
    h6{
        display: block;
        text-align: center;
        width: 100%;
        margin: 7px 0 0;
        font-size: 15px;
        font-weight: 600;
    }
}

ion-content{
    --background: #f9f9f9;
}
ion-card{
    box-shadow: 0px 0px 7px -5px;
    // border-left: 5px solid;
    border-radius: 9px;
    margin-top: 16px;
    color: #000;
    
    p{
        margin: 0;
        margin-bottom: 8px;
    }
    .date-icon ion-img{
        width: 17px;
        margin-right: 3px;
    }
    .card-title{
        margin-top: 8px;
        margin-bottom: 0;
        font-size: 15px;
        color: #000;
    }
    .action_btns{
        justify-content: flex-end;
        width: 100%;
        ion-button{
            --padding-end: 0;
            --padding-start: 0;
        }
    }

    .date-row ion-text{
        color: #717070;
    }


    .initiated_list{
        .profile-img{
            width: 30px;
            height: 30px;
            border-radius: 100%;
            overflow: hidden;
            object-fit: cover;
            margin-right: 5px;
        }
        ion-label{
            font-size: 12px;
        }
    }


    .initiated-row{
        margin-top: 8px;
    }
        // attendees
        .attendees-list {
            display: flex;
            align-items: center;
            .more{
                margin: 0;
                width: 22px;
                height: 22px;
                background: #fff;
                box-shadow: 0px 0px 1px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            ion-img:not(:first-child){
                margin-left: -3px;
            } 
            ion-img {
                width: 22px;
                height: 22px;
                border-radius: 100%;
                background-color: #fff;
                box-shadow: 0px 0px 1px ;
            }
        }

        // .status-btn{
        //     min-width: 59px;
        //     --padding-start: 10px;
        //     --padding-end: 10px;
        //     --padding-top: 8px;
        //     --padding-bottom: 7px;
        //     height: auto;
        //     --box-shadow: none;
        //     border: 2px solid;
        //     border-radius: 100px;
        // }
        // .status-btn.save{
        //     --background: #fff;
        //     color: #43e69b;
        // }
        // .status-btn.saved{
        //     --background: #1bd298;
        // }
}

.bg_theme{
    --background: #1e252d;
}
.bg_theme_green{
    --background: #9bbf54;
}

ion-footer{
    box-shadow: 0px 0px 7px 0px #000;
    ion-button{
        width: 100%;
        margin: 0;
        --border-radius: 0;
        --box-shadow: none;
        ion-icon{
            margin-right: 5px;
            padding: 10px;
        }
    }
}


