<ion-header class="ion-no-border font">
  <ion-toolbar class="heading_top">
    <!-- <ion-buttons slot="start"  (click)="goLogin()">
        <ion-icon class="back-outline" name="chevron-back-outline" ></ion-icon>
    </ion-buttons> -->
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="presentModal('plus')" >
        <ion-icon class="plus-icon" src="../../assets/icon/initiative/plus.svg" ></ion-icon>
      </ion-button>
      <ion-button (click)="goLogin()">
        <ion-icon  src="../../assets/icon/initiative/Logout.svg" color="light" size="small"></ion-icon>        
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center text_upper font font-weight">My Initiative</ion-title>
  </ion-toolbar> 
  <ion-row class="header-bottom">
    <img src="../../assets/profile.svg" class="img_top">
    <h6 class="text_upper">Human Resource</h6>
  </ion-row> 
</ion-header>

<ion-content >

  <ion-card class="border_yellow font" >
    <ion-card-header  class="ion-no-padding">
      <ion-row>
        <ion-col size="9">
      <ion-item lines="none">
        <ion-avatar slot="start" >
          <ion-img src="../../assets/profile.jpg"  (click)="goDetail()"></ion-img>

        </ion-avatar>
        <p class="font"(click)="goDetail()">Increase the influence of customer's views</p>

      </ion-item>
        </ion-col>
        <ion-col size="3" class="ion-text-right">
        <ion-icon class="edit ion-text-right" (click)="editModal('edit')" src="../../assets/icon/Edit.svg" color="dark" ></ion-icon>
        <ion-icon  class="edit ion-text-right" src="../../assets/icon/Delete.svg" color="dark" ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-row>
        <ion-col size="8">
          <ion-label>Department 1</ion-label>
          <div class="progress_bar">
            <ion-progress-bar value="0.5"></ion-progress-bar>80%

          </div>
        </ion-col>
        <ion-col class="due_date"  size="4">
          <ion-label>Due Date</ion-label>
          <ion-text>Oct 11,2020</ion-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="border_green font" (click)="goDetail()">
    <ion-card-header  class="ion-no-padding">
      <ion-row>
        <ion-col size="9">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-img src="../../assets/profile.jpg"></ion-img>
        </ion-avatar>
        <p class="font">Increase the influence of customer's views</p>
      </ion-item>
        </ion-col>
        <ion-col size="3"  class="ion-text-right">
        <ion-icon class="edit ion-text-right" src="../../assets/icon/Edit.svg" color="dark" size="md"></ion-icon>
        <ion-icon class="edit ion-text-right" src="../../assets/icon/Delete.svg" color="dark" size="md"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-row>
        <ion-col size="8">
          <ion-label>Department 2</ion-label>
          <div class="progress_bar">
            <ion-progress-bar value="0.5"></ion-progress-bar>80%
          </div>
        </ion-col>
        <ion-col class="due_date"  size="4">
          <ion-label>Due Date</ion-label>
          <ion-text>Oct 11,2020</ion-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="border_red font" (click)="goDetail()">
    <ion-card-header  class="ion-no-padding">
      <ion-row>
        <ion-col size="9">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-img src="../../assets/profile.jpg"></ion-img>
        </ion-avatar>
        <p class="font">Increase the influence of customer's views</p>
      </ion-item>
        </ion-col>
        <ion-col size="3"  class="ion-text-right">
        <ion-icon class="edit" src="../../assets/icon/Edit.svg" color="dark" size="md" (click)="editModal('edit')"></ion-icon>
        <ion-icon class="edit" src="../../assets/icon/Delete.svg" color="dark" size="md"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-row>
        <ion-col size="8">
          <ion-label>Department 3</ion-label>
          <div class="progress_bar">
            <ion-progress-bar value="0.5"></ion-progress-bar>80%
          </div>
        </ion-col>
        <ion-col class="due_date"  size="4">
          <ion-label>Due Date</ion-label>
          <ion-text>Oct 11,2020</ion-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="border_green font" (click)="goDetail()">
    <ion-card-header  class="ion-no-padding">
      <ion-row>
        <ion-col size="9">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <ion-img src="../../assets/profile.jpg"></ion-img>
            </ion-avatar>
            <p class="font">Increase the influence of customer's views</p>
          </ion-item>
        </ion-col>
        <ion-col size="3"  class="ion-text-right">
          <ion-icon class="edit" src="../../assets/icon/Edit.svg" color="dark" size="md" (click)="editModal('edit')"></ion-icon>
          <ion-icon class="edit" src="../../assets/icon/Delete.svg" color="dark" size="md"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-header>    <ion-card-content class="ion-no-padding">
      <ion-row>
        <ion-col size="8">
          <ion-label>Department 4</ion-label>
          <div class="progress_bar">
            <ion-progress-bar value="0.5"></ion-progress-bar>80%
          </div>
        </ion-col>
        <ion-col class="due_date"  size="4">
          <ion-label>Due Date</ion-label>
          <ion-text>Oct 11,2020</ion-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="border_yellow font" (click)="goDetail()">
    <ion-card-header  class="ion-no-padding">
      <ion-row>
        <ion-col size="9">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <ion-img src="../../assets/profile.jpg"></ion-img>
            </ion-avatar>
            <p class="font">Increase the influence of customer's views</p>
          </ion-item>
        </ion-col>
        <ion-col size="3"  class="ion-text-center">
          <ion-icon class="edit" src="../../assets/icon/Edit.svg" color="dark" size="md" (click)="editModal('edit')"></ion-icon>
          <ion-icon class="edit" src="../../assets/icon/Delete.svg" color="dark" size="md"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-header>    <ion-card-content class="ion-no-padding">
      <ion-row>
        <ion-col size="8">
          <ion-label>Department 6</ion-label>
          <div class="progress_bar">
            <ion-progress-bar value="0.5"></ion-progress-bar>80%
          </div>
        </ion-col>
        <ion-col class="due_date"  size="4">
          <ion-label>Due Date</ion-label>
          <ion-text>Oct 11,2020</ion-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
    
    <ion-card class="border_yellow font" (click)="goDetail()">
      <ion-card-header  class="ion-no-padding">
        <ion-row>
          <ion-col size="9">
            <ion-item lines="none">
              <ion-avatar slot="start">
                <ion-img src="../../assets/profile.jpg"></ion-img>
              </ion-avatar>
              <p class="font">Increase the influence of customer's views</p>
            </ion-item>
          </ion-col>
          <ion-col size="3"  class="ion-text-right">
            <ion-icon class="edit" src="../../assets/icon/Edit.svg" color="dark" size="md" (click)="editModal('edit')"></ion-icon>
            <ion-icon class="edit" src="../../assets/icon/Delete.svg" color="dark" size="md"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card-header>      <ion-card-content class="ion-no-padding">
        <ion-row>
          <ion-col size="8">
            <ion-label>Department 7</ion-label>
            <div class="progress_bar">
              <ion-progress-bar value="0.5"></ion-progress-bar>80%
            </div>
          </ion-col>
          <ion-col class="due_date"  size="4">
            <ion-label>Due Date</ion-label>
            <ion-text>Oct 11,2020</ion-text>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>


</ion-content>



<ion-footer class="ion-no-border" translucent>
  <ion-row >
    <ion-col size="4" class="ion-no-padding bg_theme">
      <ion-button expand="block" class="profile bg_theme">
        <ion-icon name="person-outline" size="small" ></ion-icon> 
      </ion-button>
    </ion-col>
    <ion-col  size="4" class="ion-no-padding bg_theme_green">
      <ion-button class="notification bg_theme_green">
        <ion-icon name="notifications-outline"  size="small"></ion-icon> 
      </ion-button>
    </ion-col>
    <ion-col  size="4" class="ion-no-padding bg_theme">
      <ion-button class="notification bg_theme">
        <ion-icon name="settings-outline" size="small" ></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>

