<ion-header>
  <ion-toolbar class="bg_theme initiative">
    <ion-title>initiative Description</ion-title>
      <ion-buttons slot="end">
          <ion-icon class="close_icon" name="close-outline" (click)="dismiss()"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row >
    <ion-col size="4">
      <ion-item class="bg_input marg_bot_10" lines="none">
        <ion-label position="stacked">ID</ion-label>
        <ion-input  inputmode="text"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="8">
        <ion-item class="bg_input marg_bot_10" lines="none">
          <ion-label position="stacked">Name</ion-label>
          <ion-input  inputmode="text"></ion-input>
        </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item  lines="none">
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-item class="owner-input" lines="none">
        <ion-label>Owner</ion-label>
        <ion-select multiple="true" cancelText="Cancel" okText="Ok">
          <ion-select-option value="Option1">Option1</ion-select-option>
          <ion-select-option value="Option2">Option2</ion-select-option>
          <ion-select-option value="Option3">Option3</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-item  class="date_input" lines="none">
        <ion-label>Planned Start Date /End DateMM DD YY</ion-label>
        <ion-datetime displayFormat="MM DD YY"></ion-datetime>
      </ion-item>
    </ion-col>

    <ion-col size="6">
      <ion-item  class="date_input"  lines="none">
        <ion-label> Actual Start Date /End DateMM DD YY</ion-label>
        <ion-datetime displayFormat="MM DD YY" ></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>


  <ion-list>
    <ion-radio-group>
      <h3>Status</h3>
      <ion-row class="status_row">
        <ion-col size="4" >
          <ion-item lines="none">
            <ion-label>Complete</ion-label>
            <ion-radio slot="start" value="complete"></ion-radio>
          </ion-item>
        </ion-col>
          
        <ion-col size="4" >
            <ion-item lines="none">
                <ion-label>Ongoing</ion-label>
                <ion-radio slot="start" value="ongoing"></ion-radio>
            </ion-item>
        </ion-col>

        <ion-col size="4" >
          <ion-item lines="none">
            <ion-label>Cancel</ion-label>
            <ion-radio slot="start" value="cancel"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>
  </ion-list>

    <ion-row class="ion-align-items-end">
      <!-- <ion-col size="6">
        <ion-item  lines="none">
          <ion-label>Status</ion-label>
          <ion-select multiple="true" cancelText="Nah" okText="Okay!">
            <ion-select-option value="Manual">Manual</ion-select-option>
            <ion-select-option value="weighted">weighted</ion-select-option>
            <ion-select-option value="First">First</ion-select-option> <ion-select-option value="Option1">Manual</ion-select-option>
            <ion-select-option value="second">second</ion-select-option>
            <ion-select-option value="third">Third</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col> -->

      <ion-col size="12" >
        <ion-item class="bg_input marg_bot_10 " lines="none">
          <ion-label position="stacked" class="text-caps">Progerss %</ion-label>
          <ion-input  inputmode="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <h3>Data Fields</h3>
    <ion-row>
        <ion-col size="3">
          <ion-item lines="none">
            <ion-label>Actual</ion-label>
            <ion-checkbox checked="true"></ion-checkbox>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-item lines="none">
            <ion-label>Target</ion-label>
            <ion-checkbox checked="true"></ion-checkbox>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-item lines="none">
            <ion-label>Budget</ion-label>
            <ion-checkbox checked="true"></ion-checkbox>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-item lines="none">
            <ion-label>Forecast</ion-label>
            <ion-checkbox checked="true"></ion-checkbox>
          </ion-item>
        </ion-col>
    </ion-row>

</ion-content>