ion-content{
    --background: #f9f9f9;
    .action_btns{
        justify-content: flex-end;
        ion-button{
            --padding-start: 0;
            --padding-end: 0;
        }
    }

    // segment tab
    ion-segment{
        ion-segment-button{
            --padding-start: 0;
            --padding-end: 0;
            min-width: 32px;
            width: 43px;
            max-width: 36px;
            height: 40px;
            min-height: 36px;
            max-height: 36px;
            color: #fff;
            margin-right: 10px;
            border-radius: 6px;
            font-size: 15px;
            display: flex;
            align-items: center;
            --indicator-height: 0;
            font-weight: 700;
        }
        ion-segment-button p{
            border-radius: 4px;
            margin: 0;
            width: 31px;
            padding: 5px 0px;        
        }
        
        ion-segment-button.ios.segment-button-checked {
            color: #000;
        }
        ion-segment-button.segment-button-checked p{
            border: 1px solid #fff;
        }
        ion-segment-button.button_green{
            background: #54af87;
        }
        ion-segment-button.button_orange{
            background: #f0b03c;
        }
        ion-segment-button.button_blue{
            background: #58b5b9;
        }
        ion-segment-button.button_red{
            background: #df4e4b;
        }
    }

    ion-card{
        box-shadow: 0px 0px 0px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    // title
    .card_title{
        margin: 0;
    }


    .color_box{
        height: 42px;
        min-height: 100%;
        background: #4caf87;
        color: #fff;
        border-bottom-right-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 600;
    }

    .inner_row{
        width: 100%;
        padding: 0 15px;
        padding-bottom: 10px;
        .content{
            padding-top: 5px;
        }

        .col_width-fit{
            max-width: fit-content !important;
        }
        .responsible_profile {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .responsible_profile ion-img {
            width: 27px;
            background: #fff;
            border: 1px solid #fff;
            border-radius: 100px;
        }
        .responsible_profile ion-img:not(:first-child){
            margin-left: -8px;
        }
        .responsible_profile, .status_icon{
            margin-top: 5px;
        } 
        .status_icon{
            font-size: 19px;
            color: #4baf87;
        }
        .status_col{
            margin-left: auto;
        }
    }
}