<ion-header class="ion-no-border cust_header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="presentModal()">
        <ion-icon class="plus-icon" src="assets/icon/initiative/plus.svg" ></ion-icon>
      </ion-button>
      <ion-button (click)="goLogin()">
        <ion-icon  src="assets/icon/initiative/Logout.svg" color="dark" size="small"></ion-icon>        
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="selectTabs == 'swot'"  class="ion-text-center text_upper  font-weight">Swot</ion-title>
    
  </ion-toolbar> 
  <ion-row class="header-bottom">
    <img src="assets/profile.svg">
    <h6 class="text_upper">Human Resource</h6>
  </ion-row> 
</ion-header>

<ion-content>
  <ion-segment   [(ngModel)]="selectTabs" class="font">
    <ion-segment-button value="swot" >
      <p>S</p>
    </ion-segment-button>
    <ion-segment-button value="w" >
      <p>w</p>
    </ion-segment-button>
    <ion-segment-button value="o" >
      <p>O</p>
    </ion-segment-button>
    <ion-segment-button value="t" >
      <p>T</p>
    </ion-segment-button>
  </ion-segment>
  
  <ion-grid *ngIf="selectTabs == 'swot'">
    <ion-card>
      <ion-row class="ion-align-items-center">
        <ion-col size="2" class="color_box">
          <ion-label>
            S
          </ion-label>
        </ion-col>
        <ion-col size="8" class="ion-text-center">
          <p class="text_upper card_title "><span class="font-weight">Type: </span>External</p>
        </ion-col>
        <ion-col size="2">
          <ion-buttons class="action_btns">
            <ion-button  >
              <ion-icon  class="btn-edit" src="assets/icon/Edit.svg" color="light" size="small"></ion-icon>        
            </ion-button>
            <ion-button >
              <ion-icon  src="assets/icon/Delete.svg" color="light" size="small"></ion-icon>        
            </ion-button>
          </ion-buttons>
        </ion-col>

        <ion-row class="inner_row">
          <ion-col size="12">
            <p class="marg-0 content">Aliguam in bibendum mmauris. Sed erat vel velit blandit pharetra vitae nec ante</p>
          </ion-col>
          <ion-col size="12">
            <p ><span class="font-weight font-as_heding text_upper">Impact:</span>Aliguam in bibendum mmauris</p>
          </ion-col>

          <ion-col size="6" class="col_width-fit">
            <p class="font-as_heding text_upper marg-0">Responsible</p>
            <div class="responsible_profile">
              <ion-img src="assets/profile/profile1.png"></ion-img>
              <ion-img src="assets/profile/profile1.png"></ion-img>
              <ion-img src="assets/profile/profile1.png"></ion-img>
              <span>3+</span>
            </div>
          </ion-col>
          <ion-col size="6"  class="col_width-fit ion-text-center status_col">
            <p class="font-as_heding text_upper marg-0">Status</p>
            <ion-icon class="status_icon" name="flag-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>



<ion-footer class="ion-no-border" translucent>
  <ion-row >
    <ion-col size="4" class="ion-no-padding bg_theme">
      <ion-button expand="block" class="profile bg_theme">
        <ion-icon name="person-outline" size="small" ></ion-icon> 
      </ion-button>
    </ion-col>
    <ion-col  size="4" class="ion-no-padding bg_theme_green">
      <ion-button class="notification bg_theme_green">
        <ion-icon name="notifications-outline"  size="small"></ion-icon> 
      </ion-button>
    </ion-col>
    <ion-col  size="4" class="ion-no-padding bg_theme">
      <ion-button class="notification bg_theme">
        <ion-icon name="settings-outline" size="small" ></ion-icon>
      </ion-button>
    </ion-col>
    <!-- <ion-col  size="3" class="ion-no-padding">
      <ion-button class="notification bg_theme_green">
        <ion-icon name="notifications-outline"  size="small"></ion-icon> 
      </ion-button>
    </ion-col> -->
  </ion-row>
</ion-footer>