<ion-header class="ion-no-border font">
  <ion-toolbar class="heading_top">
    <ion-buttons slot="start" (click)="dismiss('dismissed')">
      <ion-button>
        <ion-icon name="chevron-back-outline" size="md" (click)="goBack()"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">

      <ion-button>
        <ion-icon  src="../../assets/icon/initiative/Logout.svg" color="light" size="small"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title *ngIf="activitydata" class="ion-text-center text_upper font font-weight">Add Activities</ion-title>
    <ion-title *ngIf="activityeditdata" class="ion-text-center text_upper font font-weight">Edit Activities</ion-title>

  </ion-toolbar>
  <ion-row class="header-bottom">
    <img src="../../assets/profile.svg" class="img_top">
    <h6 class="text_upper font">Human Resource</h6>
  </ion-row>
</ion-header>


<ion-content class="ion-padding">

  <ion-item lines="none" class="font">
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>


  <ion-item class="bg_input marg_bot_10 font" lines="none">
    <ion-label position="stacked">Progerss %</ion-label>
    <ion-input  inputmode="text"></ion-input>
  </ion-item>


  <ion-item lines="none">
    <ion-label position="stacked">Start Date /End Date</ion-label>
    <ion-input type="date"></ion-input>
  </ion-item>


  <ion-item lines="none" class="font">
    <ion-label  position="stacked">Attachment</ion-label>
    <ion-input>
      <ion-buttons slot="end">
        <span ><ion-icon class="down-outline" name="caret-down-outline"></ion-icon></span>
      </ion-buttons>

    </ion-input>



  </ion-item>




  <ion-row>
    <ion-col class="font">
      <ion-item lines="none" class="ion-text-right">
        <ion-button color="light">cancel</ion-button>
        <ion-button color="dark">Save</ion-button>
      </ion-item>

    </ion-col>
  </ion-row>


</ion-content>
