<ion-header>
  
  
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="goLogin()">
        <ion-icon class="logout" slot="icon-only"  src="../../assets/icon/initiative/Logout.svg" color="dark" size="small"></ion-icon>
      </ion-button>
    </ion-buttons>
  <ion-title> <ion-img class="header-logo" src="../../assets/logo.png"></ion-img></ion-title>
    
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid class="font">
    <ion-row >
      <ion-col size="4" class=" ion-justify-content-center" (click)="gomeeting()">
          <div>
            <ion-img src="../../assets/icon/meeting.png" ></ion-img>
          </div>
      </ion-col>
      <ion-col size="4" class="  ion-justify-content-center" (click)="goSwot()">
        <div>
          <ion-img src="../../assets/icon/swot.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size="4" class="ion-justify-content-center">
        <div>
          <ion-img src="../../assets/icon/pestel.png" ></ion-img>
        </div>
      </ion-col>
      
      <ion-col size="4" class=" ion-justify-content-center" >
        <div>
          <ion-img src="../../assets/icon/strategy.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size="4"  class="ion-justify-content-center" >
        <div>
          <ion-img src="../../assets/icon/Balanced.png"  ></ion-img>
        </div>
      </ion-col>
      <ion-col size="4" class=" ion-justify-content-center" >
        <div>
          <ion-img src="../../assets/icon/strategymap .png"></ion-img>
        </div>
      </ion-col>
      
      <ion-col size="4" class="ion-justify-content-center" (click)="goInitiative()">
        <div >
          <ion-img src="../../assets/icon/initiative.png" ></ion-img>
        </div>
      </ion-col>
      <ion-col size="4" class=" ion-justify-content-center">
        <div>
          <ion-img src="../../assets/icon/employee.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size="4" class="ion-justify-content-center" >
        <div > 
          <ion-img src="../../assets/icon/risk.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size="4" class=" ion-justify-content-center"  >
        <div>
          <ion-img src="../../assets/icon/budget .png" ></ion-img>
        </div>
      </ion-col>
      <ion-col size="4" class=" ion-justify-content-center" >
        <div>
          <ion-img src="../../assets/icon/dashboard.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size="4" class=" ion-justify-content-center" >
        <div >
          <ion-img src="../../assets/icon/charts.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size="4" class=" ion-justify-content-center">
        <div>
          <ion-img src="../../assets/icon/employee.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size="4" class="ion-justify-content-center" >
        <div >
          <ion-img src="../../assets/icon/risk.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size="4" class=" ion-justify-content-center"  >
        <div>
          <ion-img src="../../assets/icon/budget .png" ></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border" translucent>
  <ion-row >
    <ion-col size="4" class="ion-no-padding bg_theme">
      <ion-button expand="block" class="profile bg_theme">
        <ion-icon name="person-outline" size="small" ></ion-icon> 
      </ion-button>
    </ion-col>
    <ion-col  size="4" class="ion-no-padding bg_theme_green">
      <ion-button class="notification bg_theme_green">
        <ion-icon name="notifications-outline"  size="small"></ion-icon> 
      </ion-button>
    </ion-col>
    <ion-col  size="4" class="ion-no-padding bg_theme">
      <ion-button class="notification bg_theme">
        <ion-icon name="settings-outline" size="small" ></ion-icon>
      </ion-button>
    </ion-col>
    <!-- <ion-col  size="3" class="ion-no-padding">
      <ion-button class="notification bg_theme_green">
        <ion-icon name="notifications-outline"  size="small"></ion-icon> 
      </ion-button>
    </ion-col> -->
  </ion-row>
</ion-footer>
